.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.results {
    flex-direction: column;
    text-align: left;
}
